<!-- taste of food -->
<div>
    <label>How was the food/drink?</label>
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="group1" ng-model="reviewerData.taste" value="Delicious" checked>
                It was delicious!
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="group1" ng-model="reviewerData.taste" value="Average">
                It was alright!
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="group1" ng-model="reviewerData.taste" value="Poor">
                It was meh!
            </label>
        </div>
    </div>
</div>


<!--  what type of a spot -->
<div>
    <p>How would you best describe the place?</p>

        <div class="btn-group">
            <span ng-repeat="(key, val) in restaurantData.observations">
            <button type="button" class="btn btn-primary btn-margin-top" ng-model="restaurantData.observations[key]" btn-checkbox>{{key}}</button>
            <!--<label>-->
                <!--<label class="btn btn-primary" ng-model="restaurantData.observations[key]" btn-checkbox>{{key}}</label>-->
            <!--</label>-->
                </span>
        </div>

</div>


<!--  Price -->
<label>Damage to the pocket?</label>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="reviewerData.cost" value="$">
            $
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="reviewerData.cost" value="$$">
            $$
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="reviewerData.cost" value="$$$">
            $$$
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="reviewerData.cost" value="$$$$">
            $$$$
        </label>
    </div>
</div>

<!--  what is your verdict -->
<label>Would you recommend a friend here?</label>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="reviewerData.verdict" value="Yes" checked>
            Yes!!
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="reviewerData.verdict" value="No">
            No!!
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="app.addReview.optional" class="btn btn-block btn-primary">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>