<!-- taste of food -->
<label>How was the food/drink?</label>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="group1" ng-model="formData.taste" value="Delicious" checked>
            It was delicious!
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="group1" ng-model="formData.taste" value="Average">
            It was alright!
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="group1" ng-model="formData.taste" value="Poor">
            It was meh!
        </label>
    </div>
</div>

<!--  what type of a spot -->
<label>How would you best describe the place?</label>
<div class="btn-group-sm">
    <div ng-repeat="(key, val) in formData.ambiances">
        <label>
            <label class="btn btn-primary" ng-model="formData.ambiances[key]" btn-checkbox>{{key}}</label>
        </label>
    </div>

</div>

<!--  Price -->
<label>Damage to the pocket?</label>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.cost" value="$">
            $
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.cost" value="$$">
            $$
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.cost" value="$$$">
            $$$
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.cost" value="$$$$">
            $$$$
        </label>
    </div>
</div>

<!--  what is your verdict -->
<label>Would you recommend a friend here?</label>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.verdict" value="Yes" checked>
            Yes!!
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.verdict" value="No">
            No!!
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="app.addReview.optional" class="btn btn-block btn-primary">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>