<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="form-container">
            <ul class="nav nav-pills">
                <li ui-sref-active="active"><a ui-sref=".home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref=".addReview.basic">Add Review</a></li>
                <li ui-sref-active="active"><a ui-sref=".feedback">Feedback</a></li>
                <li ui-sref-active="active"><a ui-sref=".like"><span class="glyphicon glyphicon-thumbs-up"></span></a></li>
                <!--<button class="num-of-reviews btn btn-primary" type="button" ng-click="submitLike()"><span class="glyphicon glyphicon-thumbs-up"></span></button>-->
            </ul>
        </div>
    </div>
</div>
