<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">
            <div class="page-header text-center">
                <h2>Restaurant Listings</h2>
            </div>

            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search" ng-model="query">-->
            <!--</div>-->

            <div class="bs-example">

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="review in reviews | filter: query">
                        <h4>
                            {{review.name}} ({{review.location}})
                        </h4>
                        <div>
                            Ambiance: {{review.ambiances | list }}
                        </div>
                        <div>
                            Cost: {{review.cost}} | Verdict: {{review.verdict}} | By: {{review.reviewer}}
                        </div>
                        <div>
                            <accordion>
                                <accordion-group heading="Details">
                                    <p>Taste: {{review.taste}} | Dishes: {{review.dishes}}</p>
                                    <p>Caption: {{review.caption}}</p>
                                </accordion-group>
                            </accordion>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>