<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">
            <div class="page-header text-center">
                <h2>Restaurant Listings</h2>
            </div>

            <div class="bs-example">
                <input type="text" ng-model="query" class="form-control" placeholder="Search">
                <!--<span class="input-group-btn">-->
                    <!--<label class="btn btn-primary" type="label">Filter!</label>-->
                <!--</span>-->
            </div>
            <br>

            <div class="bs-example">
                <ul class="restaurants list-group">
                    <li class="restaurant list-group-item" ng-repeat="restaurant in restaurants | filter: query">
                        <h4>
                            {{restaurant.name}} ({{restaurant.location}})
                            <span class="num-of-reviews badge">{{restaurant.reviews.length}}</span>
                        </h4>
                        <div>
                            Address: {{restaurant.address}} ({{restaurant.crossStreet}})
                        </div>
                        <div>
                            Observations: {{restaurant.observations | list }}
                        </div>
                        <div>
                            <accordion>
                                <accordion-group heading="Details">
                                        <div ng-repeat="reviewer in restaurant.reviews">
                                            By: {{reviewer.reviewer}} | Cost: {{reviewer.cost}} | Verdict: {{reviewer.verdict}}
                                            <p>Taste: {{reviewer.taste}} | Dishes: {{reviewer.dishes}}</p>
                                            <p>Caption: {{reviewer.caption}}</p>
                                        </div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>